In [224]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

In [225]:
training_data = pd.read_csv('train.csv')

In [226]:
training_data = training_data.drop('Survived', axis=1)

In [227]:
X_train, X_test, y_train, y_test = train_test_split(training_data, training_results, test_size=0.2)

In [228]:
model = KNeighborsClassifier(n_neighbors=5)

In [229]:
def sex_to_number(sex):
    return 1 if sex == 'male' else 0

def age_to_binary_adult(age):
    return 1 if age == None or age >= 18 else 0

In [230]:
def prepare_training_dataset_for_model(dataset, columns_to_drop):
    dataset = dataset.drop(columns_to_drop, axis=1)
    dataset['Age'] = dataset['Age'].map(age_to_binary_adult)
    dataset['Sex'] = dataset['Sex'].map(sex_to_number)
    return dataset

In [231]:
COLUMNS_TO_DROP = ['PassengerId', 'Name', 'Embarked', 'Ticket', 'Cabin']
X_train = prepare_training_dataset_for_model(X_train, COLUMNS_TO_DROP)
X_test = prepare_training_dataset_for_model(X_test, COLUMNS_TO_DROP)

results_train = y_train['Survived']
results_test = y_test['Survived']

In [232]:
model.fit(X_train, results_train)

KNeighborsClassifier()

In [233]:
model.score(X_test, results_test)

0.7877094972067039

In [234]:
test_dataset = pd.read_csv('test.csv')

In [235]:
test_dataset = test_dataset.sort_values(by=['PassengerId'])

In [236]:
test_dataset_clean = prepare_training_dataset_for_model(test_dataset, COLUMNS_TO_DROP)

In [237]:
print(test_dataset_clean)

     Pclass  Sex  Age  SibSp  Parch      Fare
0         3    1    1      0      0    7.8292
1         3    0    1      1      0    7.0000
2         2    1    1      0      0    9.6875
3         3    1    1      0      0    8.6625
4         3    0    1      1      1   12.2875
..      ...  ...  ...    ...    ...       ...
413       3    1    0      0      0    8.0500
414       1    0    1      0      0  108.9000
415       3    1    1      0      0    7.2500
416       3    1    0      0      0    8.0500
417       3    1    0      1      1   22.3583

[418 rows x 6 columns]

In [238]:
test_dataset_clean = test_dataset_clean.fillna(0)

In [239]:
predictions = model.predict(test_dataset_clean)

In [240]:
test_dataset

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [241]:
result = test_dataset.join(pd.DataFrame(predictions, columns=['Survived']))[['PassengerId', 'Survived']]

In [242]:
result.to_csv('knn-basic-results.csv', index=False)