In [311]:
import pandas as pd
import sklearn

In [312]:
training_data = pd.read_csv('train.csv')

In [313]:
print(training_data[:10])

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3
5            6         0       3
6            7         0       1
7            8         0       3
8            9         1       3
9           10         1       2

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0
5                                   Moran, Mr. James    male   NaN      0
6                            McCarthy, Mr. Timothy J    male  54.0      0
7                     Palsson, Master. Gosta Leonard    male   2.0      3
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
5      0            330877   8.4583   NaN        Q
6      0             17463  51.8625   E46        S
7      1            349909  21.0750   NaN        S
8      2            347742  11.1333   NaN        S
9      0            237736  30.0708   NaN        C

In [314]:
children = training_data[training_data['Age'] < 18]

In [315]:
print(len(children))

113

In [316]:
adults = training_data[training_data['Age'] >= 18]

In [317]:
print(len(adults))

601

In [318]:
print(len(adults), len(children), len(adults) + len(children), len(training_data))

601 113 714 891

In [319]:
print(len(children[children['Survived'] == 1]) / len(children))

0.5398230088495575

In [320]:
print(len(adults[adults['Survived'] == 1]) / len(adults))

0.3810316139767055

In [321]:
training_data = training_data.sort_values(by=['PassengerId'])

In [322]:

training_results = training_data[['Survived', 'PassengerId']]

In [323]:
print(training_results.describe())

         Survived  PassengerId
count  891.000000   891.000000
mean     0.383838   446.000000
std      0.486592   257.353842
min      0.000000     1.000000
25%      0.000000   223.500000
50%      0.000000   446.000000
75%      1.000000   668.500000
max      1.000000   891.000000

In [324]:
training_data = training_data.drop('Survived', axis=1)

In [325]:
print(training_data.describe())

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean    446.000000    2.308642   29.699118    0.523008    0.381594   32.204208
std     257.353842    0.836071   14.526497    1.102743    0.806057   49.693429
min       1.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%     223.500000    2.000000   20.125000    0.000000    0.000000    7.910400
50%     446.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%     668.500000    3.000000   38.000000    1.000000    0.000000   31.000000
max     891.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [326]:
from sklearn.model_selection import train_test_split

In [327]:
X_train, X_test, y_train, y_test = train_test_split(training_data, training_results, test_size=0.2)

In [328]:
print(X_train, y_train)

     PassengerId  Pclass                                             Name  \
230          231       1     Harris, Mrs. Henry Birkhardt (Irene Wallach)
115          116       3                            Pekoniemi, Mr. Edvard
841          842       2                         Mudd, Mr. Thomas Charles
483          484       3                           Turkula, Mrs. (Hedwig)
443          444       2                        Reynaldo, Ms. Encarnacion
..           ...     ...                                              ...
39            40       3                      Nicola-Yarred, Miss. Jamila
630          631       1             Barkworth, Mr. Algernon Henry Wilson
196          197       3                              Mernagh, Mr. Robert
186          187       3  O'Brien, Mrs. Thomas (Johanna "Hannah" Godfrey)
740          741       1                      Hawksford, Mr. Walter James

        Sex   Age  SibSp  Parch             Ticket     Fare Cabin Embarked
230  female  35.0      1      0              36973  83.4750   C83        S
115    male  21.0      0      0  STON/O 2. 3101294   7.9250   NaN        S
841    male  16.0      0      0        S.O./P.P. 3  10.5000   NaN        S
483  female  63.0      0      0               4134   9.5875   NaN        S
443  female  28.0      0      0             230434  13.0000   NaN        S
..      ...   ...    ...    ...                ...      ...   ...      ...
39   female  14.0      1      0               2651  11.2417   NaN        C
630    male  80.0      0      0              27042  30.0000   A23        S
196    male   NaN      0      0             368703   7.7500   NaN        Q
186  female   NaN      1      0             370365  15.5000   NaN        Q
740    male   NaN      0      0              16988  30.0000   D45        S

[712 rows x 11 columns]      Survived  PassengerId
230         1          231
115         0          116
841         0          842
483         1          484
443         1          444
..        ...          ...
39          1           40
630         1          631
196         0          197
186         1          187
740         1          741

[712 rows x 2 columns]

In [329]:
from sklearn.neighbors import KNeighborsClassifier

In [330]:
model = KNeighborsClassifier(n_neighbors=5)

In [331]:
#TODO: Map sex to numbers, fill out Age NaNs 
X_train = X_train.drop(['PassengerId', 'Name', 'Embarked', 'Sex', 'Ticket', 'Cabin', 'Age'], axis=1)
y_train = y_train['Survived']
X_test = X_test.drop(['PassengerId', 'Name', 'Embarked', 'Sex', 'Ticket', 'Cabin', 'Age'], axis=1)
y_test = y_test['Survived']

print(X_train)
print(y_train)

     Pclass  SibSp  Parch     Fare
230       1      1      0  83.4750
115       3      0      0   7.9250
841       2      0      0  10.5000
483       3      0      0   9.5875
443       2      0      0  13.0000
..      ...    ...    ...      ...
39        3      1      0  11.2417
630       1      0      0  30.0000
196       3      0      0   7.7500
186       3      1      0  15.5000
740       1      0      0  30.0000

[712 rows x 4 columns]
230    1
115    0
841    0
483    1
443    1
      ..
39     1
630    1
196    0
186    1
740    1
Name: Survived, Length: 712, dtype: int64

In [332]:
model.fit(X_train, y_train)

KNeighborsClassifier()

In [333]:
model.score(X_test, y_test)

0.5977653631284916

In [334]:
test_dataset = pd.read_csv('test.csv')

In [335]:
test_dataset = test_dataset.sort_values(by=['PassengerId'])

In [336]:
test_dataset_clean = test_dataset.drop(['PassengerId', 'Name', 'Embarked', 'Sex', 'Ticket', 'Cabin', 'Age'], axis=1)

In [337]:
print(test_dataset_clean)

     Pclass  SibSp  Parch      Fare
0         3      0      0    7.8292
1         3      1      0    7.0000
2         2      0      0    9.6875
3         3      0      0    8.6625
4         3      1      1   12.2875
..      ...    ...    ...       ...
413       3      0      0    8.0500
414       1      0      0  108.9000
415       3      0      0    7.2500
416       3      0      0    8.0500
417       3      1      1   22.3583

[418 rows x 4 columns]

In [338]:
test_dataset_clean = test_dataset_clean.fillna(0)

In [339]:
predictions = model.predict(test_dataset_clean)

In [340]:
test_dataset

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [348]:
result = test_dataset.join(pd.DataFrame(predictions, columns=['Survived']))[['PassengerId', 'Survived']]

In [350]:
result.to_csv('knn-basic-results.csv', index=False)